#header{
  display: flex;
  justify-content: space-between;
  background-color: rgb(79, 79, 116);
  border-radius: 0;
  #main-title{
    font-size: 30px;
    font-weight: bold;
    color: white;
  }
  #add-btn{
    background-color: white;
    width: auto;
    font-size: 18px;
    font-weight: bold;
  }

}

@media (max-width:700px) {
  #header #main-title{
    font-size: 20px;
  }
  #header #add-btn{
    font-size: 14px;
  }
}

@media (max-width:500px) {
  .tile{
    width: 300px;
  }
}
