
.bord{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 40px;
  user-select: none;

  .tile{
    border: 1px solid rgb(211, 211, 211);
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    height: 120px;
  }
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 150ms cubic-bezier(0, 0, 0.2, 1);
}


.bord.cdk-drop-list-dragging .bord:not(.cdk-drag-placeholder) {
  transition: transform 150ms cubic-bezier(0, 0, 0.2, 1);
}

@media (max-width:900px) {
  .bord{
    margin: 12px;
    .tile{
      width: 500px;
    }
  }
}

@media (max-width:700px) {
  .bord{
    margin: 12px;
    .tile{
      width: 400px;
    }
  }
}

@media (max-width:500px) {
  .bord{
    margin: 9px;
    .tile{
      width: 300px;
    }
  }
}

@media (max-width:425px) {
  .bord{
    margin-top: 10px;
    margin-left: 0px;
    align-items: flex-start;
    .tile{
      width: 300px;
    }
  }
}

@media (max-width:380px) {
  .bord{
    margin-top: 10px;
    margin-left: 0;
    padding: 12px;
    align-items: flex-start;
    .tile{
      width: 290px;
    }
  }
}
