.note{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  border-radius: 5px;
  height: 120px;
  width: 550px;
 
  p{
    margin-left: 15px;
    font-size: 18px;
  }
  h5{
    margin-top: 10px;
    margin-left: 15px;
    font-size: 12px;
    font-weight: bold;
  }
  .btns{
    align-self: flex-end;
    display: flex;
    flex-direction: row-reverse;
    width: 900px;
    #del{
      margin: 5px;
      font-weight: lighter;

    }
    #edit{
      margin: 5px;
    }
  }

}
